<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Sản phẩm</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/detail-style.css">
    <layout:fragment name="head"></layout:fragment>
</head>
<body>
<section layout:fragment="content" >
  <main>
    <div class="card">
  <div class="card__title">
    <div class="icon">
      <a href="#"><i class="fa fa-arrow-left"></i></a>
    </div>
    <!-- <h3>New products</h3> -->
  </div>
  <div class="card__body">
    <div class="half">
      <div class="image">
        <img th:src="${product.img}" alt="">
      </div>
    </div>
    <div class="half" th:object="${product}">
      <div class="featured_text">
        <h3 th:text="${product.name}">Nurton</h3>
        <p class="sub" th:text="'Hãng: ' + ${product.brand.name}">Office Chair</p>
        <p class="sub" th:text="'Loại: ' + ${product.category.name}">Office Chair</p>
        <p class="price" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + ' đ'">$210.00</p>
      </div>
      <div class="description">
        <p th:text="${product.description}">This is description</p>
      </div>
      <!-- <span class="stock"><i class="fa fa-pen"></i> In stock</span> -->
      <div class="reviews">
        <ul class="stars">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star-o"></i></li>
        </ul>
        <!-- <span>(64 reviews)</span> -->
      </div>
    </div>
  </div>
  <div class="card__footer">
    <div class="recommend">
      <p>Recommended by</p>
      <h3>Andrew Palmer</h3>
    </div>
    <form th:if="${!product.isDeleted}" th:action="@{/cart/add}" method="post" sec:authorize="isAuthenticated()" class="action">
        <input type="hidden" name="quantity" min="1" value="1">
        <input type="hidden" th:value="${product.id}" name="productId"/>
        <button type="submit" class="btn btn-warning btn-sm">Thêm Vào Giỏ</button>
    </form>
    <a th:if="${product.isDeleted}" th:href="@{/shop}" sec:authorize="isAuthenticated()" class="action-btn">
      <button type="submit" class="btn btn-secondary btn-sm">Đã ngừng kinh doanh  </button>
  </a>
  </div>
</div>
  </main>
</section>
</body>
</html>