<section class="container mb-4">
    <link rel="stylesheet" href="/css/index-style.css">
    <script src="/script/scripts.js"></script>
    <div class="container">
        <h2>Sản phẩm nổi bật</h2>
        <div class="product-items">
            <div class="product-item card col-6 col-sm-4" style="width: 18rem;" th:each="product : ${products}">
                <img th:src="${product.img}" class="card-img-top" th:alt="${product.name}" th:title="${product.name}">
                <div class="card-body">
                  <h5 class="card-title" th:text="${product.name}" th:title="${product.name}">Card title</h5>
                  <p class="card-text" th:text="${#numbers.formatDecimal(product.price, 1, 'COMMA', 0, 'POINT')}">120.00</p>
                  
                  <form th:action="@{/cart/add}" method="post" sec:authorize="isAuthenticated()" class="btn-action">
                    <input type="hidden" name="quantity" min="1" value="1">
                    <input type="hidden" th:value="${product.id}" name="productId"/>
                    
                    <button type="submit" class="btn btn-warning btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket-fill" viewBox="0 0 16 16">
                            <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0z"/>
                        </svg>
                        <span>Thêm Vào Giỏ</span>
                    </button>
                </form>
                </div>
              </div>
        </div>
    </div>
</section>