<section class="container mb-4">
    <link rel="stylesheet" href="/css/shop-style.css">
    <header>
        <nav>
            <ul class="navigate">
                <li><a href="shop.html">Trang chủ</a></li>
                <li><a href="#">Sản phẩm</a></li>
                <li><a href="#">Khuyến mãi</a></li>
                <li><a href="#">Tin tức</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="main-content">
            <aside id="sidebar">
                <div class="menu">
                    <h1 class="SP">SẢN PHẨM</h1>
                    <ul class="list-link">
                        <li><a href="laptop.html">Laptop</a></li>
                        <li><a href="dien-thoai.html">Điện thoại</a></li>
                        <li><a href="may-tinh-bang.html">Máy tính bảng</a></li>
                        <li><a href="phu-kien.html">Phụ kiện</a></li>
                        <li><a href="phu-kien-may-tinh.html">Phụ kiện máy tính</a></li>
                        <li><a href="khuyen-mai.html">Khuyến mãi</a></li>
                    </ul>
                </div>
            </aside>
            <div class="content">
                <section class="product-featured">
                    <h2 class="SPNB">SẢN PHẨM MỚI NHẤT</h2>
                    <div class="sanpham">
                        <div class="product-item" th:each="product : ${products}">
                            <img src="https://product.hstatic.net/1000231532/product/1947_nendoroid_rilakkuma_31c9d659c59f4ec3953db3d13f764f47_master.jpg" width="300" height="340" alt="Predator Helios 300">
                            <p th:text="${product.name}"></p>
                            <p class="giatien" th:text="${#numbers.formatDecimal(product.price, 1, 'COMMA', 2, 'POINT')}" >30,000,000 VND</p>
                            <div class="buttom-buy">Mua hàng</div>
                        </div>
                    </div>
                </section>
                <section class="product-best-sellers">
                    <h2 class="SPBC">SẢN PHẨM BÁN CHẠY</h2>
                    <div class="sanpham">
                        <div class="product-item">
                            <img src="image/4.jpg" width="300" height="340" alt="Acer Swift 27A2">
                            <p>Acer Swift 27A2</p>
                            <p class="giatien">35,000,000 VND</p>
                            <div class="stars">
                                <form action="">
                                    <input class="star star-5" id="star-5" type="radio" name="star4" />
                                    <label class="star star-5" for="star-5"></label>
                                    <input class="star star-4" id="star-4" type="radio" name="star4" />
                                    <label class="star star-4" for="star-4"></label>
                                    <input class="star star-3" id="star-3" type="radio" name="star4" />
                                    <label class="star star-3" for="star-3"></label>
                                    <input class="star star-2" id="star-2" type="radio" name="star4" />
                                    <label class="star star-2" for="star-2"></label>
                                    <input class="star star-1" id="star-1" type="radio" name="star4" />
                                    <label class="star star-1" for="star-1"></label>
                                </form>
                            </div>
                            <div class="buttom-buy">Mua hàng</div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
</section>