<section class="container mb-4">
    <link rel="stylesheet" href="/css/shop-style.css">
    <script src="/script/shop.js"></script>
  <main>
    <div class="main-content">
      <aside id="sidebar">
        <div class="menu">
          <h1 class="SP">SẢN PHẨM</h1>
          <ul class="list-link">
            <li>
              <a href="#"
                th:text="All"
                th:onclick="'loadProductsByCategory(); return false;'">
              </a>
            </li>
            <li th:each="category : ${categories}">
              <a href="#"
                th:text="${category.name}"
                th:data-category-id="${category.id}"
                th:attr="data-id=${category.id}"
                th:onclick="'loadProductsByCategory(' + ${category.id} + '); return false;'">
              </a>
            </li>
          </ul>
        </div>
      </aside>
      <div class="content">
        <section class="product-featured">
          <h2 class="SPNB">SẢN PHẨM MỚI NHẤT</h2>
          <div class="sanpham" id="sanpham">
          </div>
        </section>
      </div>
    </div>
  </main>
</section>
