<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{dashboard-layout}">

<head>
    <title>Orders</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <layout:fragment name="head"></layout:fragment>
</head>

<body>
    <section layout:fragment="content">
        <h1 class="mt-4">Orders List</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Status</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Date</th>
                    <center><th scope="col">Actions</th></center>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.customerName}"></td>
                    <td th:text="${order.email}"></td>
                    <td th:text="${order.phoneNumber}"></td>
                    <td th:text="${order.status}"></td>
                    <td th:text="${#numbers.formatDecimal(order.totalAmount, 0, 'COMMA', 0, 'POINT')} + ' đ'"></td>
                    <td th:text="${#dates.format(order.createdAt, 'dd-MMMM-yyyy')}"></td>
                    <td>
                        <a th:href="@{/admin/orders/{id}(id=${order.id})}" class="btn btn-info btn-sm">View</a>
                        <a th:href="@{/admin/orders/edit/{id}(id=${order.id})}" class="btn btn-warning btn-sm">Edit</a>
                        <a th:href="@{/admin/orders/delete/{id}(id=${order.id})}" class="btn btn-danger btn-sm" onclick="confirm('Bạn có chắc muốn xóa hóa đơn này!');">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/admin/dashboard" class="btn btn-secondary">Back to Dashboard</a>

        <div class="mt-4">
            <a href="/admin/orders/delete-all" class="btn btn-danger btn-sm"  onclick="confirm('Bạn có chắc muốn xóa hết các hóa đơn có trạng thái CANCELED');">Xóa tất cả các hóa đơn trong trạng thái cancel</a>
        </div>
    </section>
</body>
</html>