<section layout:fragment="content">
    <h1>Products-Trash List</h1>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Category Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.category.name}"></td>
            <td> <!-- Hiển thị nút sửa và xóa chỉ dành cho người dùng ADMIN -->
                <div>
                    <!--                    sec:authorize="hasAuthority('ADMIN')"-->
                    <a th:href="@{/admin/products/restore/{id}(id=${product.id})}" class="btn btn-success btn-sm">Khôi phục</a>
                    <a th:href="@{/admin/products/destroy/{id}(id=${product.id})}" class="btn btn-danger btn-sm"
                       onclick="return confirm('Bạn có chắc không?')">Xóa</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</section>