/* styles2.css */

/* General Styles */
svg {
  margin-bottom: 5px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header img.banner {
  display: block;
  width: 100%;
  height: auto;
}

nav {
  background-color: #333;
}

ul.navigate {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

ul.navigate li {
  float: left;
}

ul.navigate li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navigate li a:hover {
  background-color: #111;
}

.main-content {
  display: flex;
  padding: 20px;
}

aside {
  background-color: #f4f4f4;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
}

#sidebar {
  width: 250px;
}

h1.SP {
  font-size: 18px;
  margin-bottom: 10px;
}

.menu ul.list-link {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul.list-link li {
  margin-bottom: 10px;
}

.menu ul.list-link li a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #333;
  background: #eee;
  border-radius: 5px;
}

.menu ul.list-link li a:hover {
  background-color: #ddd;
}

.content {
  flex: 1;
  margin-left: 20px;
}

h2.SPNB,
h2.SPBC {
  margin: 20px 0 10px;
  font-size: 24px;
  padding: 10px;
  border-radius: 10px;
}

h2.SPNB {
  background-color: white ;
  margin: 0;
}
.container-SPNB {
  margin-bottom: 10px;
}

.sanpham {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.products {
  background-color: #fff;
  padding: 50px 0;
  text-align: center;
}

.product-item {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  background-color: #f9f9f9;
}

.product-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-item .price {
  color: #f44336;
  font-weight: bold;
}

.card-name-product {
  margin-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* Allow wrapping */
}

.giatien {
  color: #d9534f;
  font-weight: bold;
}

.line1 {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.info,
.contact-us {
  margin: 0;
}

.line2 {
  height: 3px;
  background-color: #fff;
  margin: 10px auto;
  width: 50px;
}

/* Thay đổi cho màn hình nhỏ hơn */
@media (max-width: 576px) {
  .main-content {
    display: block;
  }
  .main-content aside {
    display: flex;
  }
  /* .main-content #sidebar {
    h1 {
      display: none;
    }
  } */

  #sidebar {
    width: 100%;
    min-width: 270px;
    margin-right: 0;
  }

  .list-link {
    display: flex;
    flex-direction: row; /* Đặt các mục thành cột */
    align-items: center; /* Căn giữa các mục */
    justify-content: space-around;
  }

  .list-link li {
    width: 100%; /* Đảm bảo các mục chiếm toàn bộ chiều ngang */
    margin-right: 10px;
  }

  .list-link li a {
    display: flex;
    justify-content: center; /* Căn giữa nội dung liên kết */
  }
}