<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="${title} ?: 'Trang chu'">Trang chu</title>
    <link rel="stylesheet" href="/css/nstyle.css">
    <script src="/script/scripts.js"></script>
    <layout:fragment name="head"></layout:fragment>
</head>
<body>
<section layout:fragment="content" class="container mb-4">
    <div class="container">
        <h2>Sản phẩm nổi bật</h2>
        <div class="product-items">
            <div class="product-item" th:each="product : ${products}">
                <img src="https://th.bing.com/th/id/OIP.Mz7deVo3t1STrqXqyppUBAHaHa?w=174&h=180&c=7&r=0&o=5&dpr=1.4&pid=1.7">
                <h3 th:text="${product.name}">Tên sản phẩm</h3>
                <p class="price">149,000 VNĐ</p>
                <a href="#" class="btn">Mua ngay</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>